name: Deploy Backend to Render

on:
  push:
    branches:
      - main  # Chạy khi có code mới push lên main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy Hook
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}